/*

#fed136 yellow
font-family: 'Raleway', sans-serif;
font-family: 'Kaushan Script', cursive;

*/

h1, h2, h3, h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

/*Navbar...................*/
.navbar-default {
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
	padding: 0 5%;
}


.navbar-brand.logoguito-brand{
	font-family: 'Kaushan Script', cursive !important;
	color: #fed136 !important;
}

.navbar-color{
	background-color: #001510;
}

/*first section............*/
.first-section{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#welcome{
	padding-top: 200px;
}

#welcome h2,
#welcome button{
	color: #fff;
}

#welcome h1{
	font-size: 5em;
	color: #fff;
	font-weight: 900;
}

.btn-default{
	background-color: #fed136;
	border: none;
}

/*Seccion Services........................*/

#services{
	padding: 8% 0;
}

.titulo-services,
.titulo-porfolio{
	padding-bottom: 40px;
}

.mb-0{
	margin-bottom: 0;
}
.servicios-icono{
	background-color: #f9d014;
	border-radius: 50px;
	width: 80px;
	height: 80px;
	color: white;
	margin: 0 auto;
}

.iconito{
	padding-top: 10px;
}

/*.........seccion portfolio............*/
#portfolio{
	background-color: #e5e5e5;
	padding: 8% 0;
}

.cada-caja{
	margin-bottom: 20px;
}

.cajas{
	background-color: #fff;
	margin: 0;
	padding-bottom: 8px;
}

.cajas h4{
	margin-top: 0;
	padding-top: 10px;
}

/*seccion about.........*/
#about{
	padding: 8% 0;
}

.redondos img{
	border-radius:150px;
	border: 5px solid lightgray;
}

.cada-about{
	margin-top: 50px;
}

.be-part{
	background-color: #fed136;
	
	border-radius:150px;
	border: 5px solid lightgray;
}

/*seccion team..........*/
#team{
	background-color: #e5e5e5;
	padding: 6% 0;
}

#loguitos{
	padding: 3% 0;
}

.mt-40{
	margin-top: 40px;
} 

.mb-40{
	margin-bottom: 40px;
}

/* section contact us.........*/
#contact{
	background-image: url(../img/map-image.png); /*falta imagen*/
	background-color: black;
	padding: 6% 0;
}

.inputs{
	width: 100%;
}

.titulo-contacto{
	color:#fff;
}

.inputs{
	border-radius: 5px;
	border: none;
	line-height: 40px;
	padding-left: 10px;
}

.mt-15{
	margin-top: 18px;
}

.btn-send{
	color: #fff;
	font-weight: bold;
}

/*footer................ */
footer{
	padding: 1.5% 0;
	margin: 0;
}

footer p{
	margin: 0;
}

.mt-5{
	margin-top: 9px;
}

.linkcito{
	text-decoration: none;
	color: #fed136;
	cursor: pointer;
}